bandit >= 1.9.4
basemap >= 2.0.0
basemap-data-hires >= 2.0.0
beartype >= 0.22.9
beautifulsoup4 >= 4.13.5
beeware >= 0.3.0
black >= 26.3.1
briefcase >= 0.4.1
datasette >= 0.65.1
fastapi[standard] >= 0.135.1
glom >= 25.12.0
hypothesis >= 6.151.9
isort >= 8.0.1
langchain >= 1.2.12
langchain-ollama >= 1.0.1
lxml >= 6.0.2
lxml-html-clean >= 0.4.4
matplotlib >= 3.10.8
mypy >= 1.19.1
networkx >= 3.6.1
newspaper4k >= 0.9.3.1
numba == 0.62.0
numpy >= 2.3.3
opencv-python >= 4.13.0.92
ortools >= 9.15.6755
pandas >= 3.0.1
pandas-stubs >= 3.0.0.260204
pint >= 0.25
pip >= 26.0.1
polars >= 1.39.0
pre-commit >= 4.5.1
psutil >= 7.2.2
pygame-ce >= 2.5.7
pynng >= 0.9.0
pyrefly >= 0.56.0
pyright >= 1.1.408
pytest-cov >= 7.0.0
pytz >= 2025.2
requests >= 2.32.5
requests-cache >= 1.3.1
ruff >= 0.15.6
setuptools >= 70.1
spacy >= 3.8.7
sqlalchemy >= 2.0.48
sqlalchemy-utc >= 0.14.0
starlette >= 0.52.1
tabulate >= 0.10.0
typer >= 0.24.1
types-beautifulsoup4 >= 4.12.0.20250516
types-pytz >= 2026.1.1.20260304
types-requests >= 2.32.4.20260107
urllib3 >= 2.6.3
uv >= 0.10.9
wordfreq >= 3.1.1
