basemap >= 1.4.1
basemap-data-hires >= 1.3.2
beartype >= 0.19.0
beautifulsoup4 >= 4.12.3
black >= 24.8.0
datasette >= 0.64.8
fastapi[standard] >= 0.112.2
glom >= 23.5.0
isort >= 5.13.2
lxml[html_clean] >= 5.3.0
matplotlib >= 3.8.4
mypy >= 1.11.2
numpy >= 1.26.4
pandas >= 2.2.3
pandas-stubs >= 2.2.2.240909
pint >= 0.24.3
pip >= 23.1.2
playwright >= 1.47.0
pynng >= 0.8.0
pyright >= 1.1.383
pytest-cov >= 5.0.0
requests >= 2.32.3
requests-cache >= 1.2.1
ruff >= 0.6.8
# spacy >= 3.7.6
sqlalchemy >= 2.0.35
sqlalchemy-utc >= 0.14.0
types-beautifulsoup4 >= 4.12.0.20240907
types-requests >= 2.32.0.20240914
