basemap >= 1.4.1
basemap-data-hires >= 1.3.2
beartype >= 0.19.0
beautifulsoup4 >= 4.12.3
beeware >= 0.3.0
black >= 24.10.0
briefcase >= 0.3.20
datasette >= 0.65.1
fastapi[standard] >= 0.115.4
glom >= 24.11.0
hypothesis >= 6.122.1
isort >= 5.13.2
lxml >= 5.3.0
lxml_html_clean >= 0.4.1
matplotlib >= 3.8.4
mypy >= 1.13.0
newspaper4k >= 0.9.3.1
numpy >= 1.26.4
ortools >= 9.11.4210
pandas >= 2.2.3
pandas-stubs >= 2.2.3.241126
pint >= 0.24.4
pip >= 24.3.1
pre-commit >= 4.0
pynng >= 0.8.0
pyright >= 1.1.389
pytest-cov >= 6.0.0
pytz >= 2024.2
requests >= 2.32.3
requests-cache >= 1.2.1
ruff >= 0.8.1
spacy >= 3.7.5
sqlalchemy >= 2.0.36
sqlalchemy-utc >= 0.14.0
starlette >= 0.41.3
toga >= 0.4.8
typer >= 0.15.0
types-beautifulsoup4 >= 4.12.0.20241020
types-pytz >= 2024.2.0.20241003
types-requests >= 2.32.0.20241016
uv >= 0.5.6
